{
  "openapi": "3.1.0",
  "x-provisional": true,
  "info": {
    "title": "Superflow Public API",
    "version": "1.0.0",
    "description": "PROVISIONAL snapshot written by the superflow-mcp package from the shared contract. Replace it with the document served at GET /v1/openapi.json."
  },
  "servers": [
    {
      "url": "https://api.usesuperflow.ai/v1"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This OpenAPI document.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The key's member, organization, scopes and key info.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Name or site URL substring."
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size.",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from next_cursor."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get one project.",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project id, name or site URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects/{project}/pages": {
      "get": {
        "operationId": "listProjectPages",
        "summary": "List a project's pages.",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project id, name or site URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "URL or title substring."
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size.",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from next_cursor."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects/{project}/members": {
      "get": {
        "operationId": "listProjectMembers",
        "summary": "Members and the project's guests.",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project id, name or site URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Name or email substring."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "Workspace members, plus a project's guests when project is given.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Name or email substring."
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Project id, name or site URL."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects/{project}/statuses": {
      "get": {
        "operationId": "listProjectStatuses",
        "summary": "Statuses for a project (org merged with project).",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project id, name or site URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/statuses": {
      "get": {
        "operationId": "listStatuses",
        "summary": "Organization default statuses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/projects/{project}/tags": {
      "get": {
        "operationId": "listProjectTags",
        "summary": "Tags for a project (org-wide plus project).",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project id, name or site URL.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "Tags.",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Project id, name or site URL."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments with filters.",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Project ids, names or site URLs. Omit for every project the key can see.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page URL to match, see page_match."
            }
          },
          {
            "name": "page_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "contains"
              ],
              "default": "exact"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Status names or ids, or the words open and resolved.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Priorities.",
              "items": {
                "type": "string",
                "enum": [
                  "none",
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              }
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name, me or unassigned.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name or me.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Author types.",
              "items": {
                "type": "string",
                "enum": [
                  "member",
                  "guest",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Tag names or ids.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tags_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ],
              "default": "any"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Case-insensitive substring over every message in the thread."
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "resolved_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "resolved_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "has_attachments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with attachments."
            }
          },
          {
            "name": "has_replies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with replies."
            }
          },
          {
            "name": "has_external_link",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Matches nothing in Phase 1."
            }
          },
          {
            "name": "unanswered",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Last message is from a guest or agent and no member replied after it."
            }
          },
          {
            "name": "stale_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Not resolved and no activity for N days.",
              "minimum": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Devices.",
              "items": {
                "type": "string",
                "enum": [
                  "desktop",
                  "mobile",
                  "tablet"
                ]
              }
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Sources.",
              "items": {
                "type": "string",
                "enum": [
                  "widget",
                  "extension",
                  "figma",
                  "voice",
                  "api",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent id or name."
            }
          },
          {
            "name": "agent_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent run (execution) id."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ],
              "default": "updated_desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size.",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from next_cursor."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "compact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Create comment body."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/stats": {
      "get": {
        "operationId": "getCommentStats",
        "summary": "Counts and metrics grouped by a dimension.",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Project ids, names or site URLs. Omit for every project the key can see.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page URL to match, see page_match."
            }
          },
          {
            "name": "page_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "contains"
              ],
              "default": "exact"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Status names or ids, or the words open and resolved.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Priorities.",
              "items": {
                "type": "string",
                "enum": [
                  "none",
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              }
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name, me or unassigned.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name or me.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Author types.",
              "items": {
                "type": "string",
                "enum": [
                  "member",
                  "guest",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Tag names or ids.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tags_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ],
              "default": "any"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Case-insensitive substring over every message in the thread."
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "resolved_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "resolved_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "has_attachments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with attachments."
            }
          },
          {
            "name": "has_replies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with replies."
            }
          },
          {
            "name": "has_external_link",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Matches nothing in Phase 1."
            }
          },
          {
            "name": "unanswered",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Last message is from a guest or agent and no member replied after it."
            }
          },
          {
            "name": "stale_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Not resolved and no activity for N days.",
              "minimum": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Devices.",
              "items": {
                "type": "string",
                "enum": [
                  "desktop",
                  "mobile",
                  "tablet"
                ]
              }
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Sources.",
              "items": {
                "type": "string",
                "enum": [
                  "widget",
                  "extension",
                  "figma",
                  "voice",
                  "api",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent id or name."
            }
          },
          {
            "name": "agent_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent run (execution) id."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ],
              "default": "updated_desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size.",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from next_cursor."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "compact"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "priority",
                "assignee",
                "author",
                "author_type",
                "page",
                "tag",
                "project",
                "source",
                "device",
                "day",
                "week"
              ]
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Metrics.",
              "items": {
                "type": "string",
                "enum": [
                  "count",
                  "avg_hours_to_resolve",
                  "median_hours_to_first_reply"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/export": {
      "get": {
        "operationId": "exportComments",
        "summary": "Export comments as csv, json or markdown.",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Project ids, names or site URLs. Omit for every project the key can see.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Page URL to match, see page_match."
            }
          },
          {
            "name": "page_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "contains"
              ],
              "default": "exact"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Status names or ids, or the words open and resolved.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Priorities.",
              "items": {
                "type": "string",
                "enum": [
                  "none",
                  "low",
                  "medium",
                  "high",
                  "critical"
                ]
              }
            }
          },
          {
            "name": "assignee",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name, me or unassigned.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "People: id, email, name or me.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "author_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Author types.",
              "items": {
                "type": "string",
                "enum": [
                  "member",
                  "guest",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Tag names or ids.",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "tags_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "all"
              ],
              "default": "any"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Case-insensitive substring over every message in the thread."
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token."
            }
          },
          {
            "name": "resolved_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "resolved_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "ISO 8601 or a relative token. Approximate."
            }
          },
          {
            "name": "has_attachments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with attachments."
            }
          },
          {
            "name": "has_replies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Only threads with replies."
            }
          },
          {
            "name": "has_external_link",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Matches nothing in Phase 1."
            }
          },
          {
            "name": "unanswered",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Last message is from a guest or agent and no member replied after it."
            }
          },
          {
            "name": "stale_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Not resolved and no activity for N days.",
              "minimum": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Devices.",
              "items": {
                "type": "string",
                "enum": [
                  "desktop",
                  "mobile",
                  "tablet"
                ]
              }
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "description": "Sources.",
              "items": {
                "type": "string",
                "enum": [
                  "widget",
                  "extension",
                  "figma",
                  "voice",
                  "api",
                  "agent"
                ]
              }
            }
          },
          {
            "name": "agent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent id or name."
            }
          },
          {
            "name": "agent_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Agent run (execution) id."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ],
              "default": "updated_desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page size.",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Opaque cursor from next_cursor."
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ],
              "default": "compact"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/bulk": {
      "post": {
        "operationId": "bulkUpdateComments",
        "summary": "Bulk update comments (dry run by default).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Bulk request body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get one comment.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Project for comment numbers."
            }
          },
          {
            "name": "include_replies",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "patch": {
        "operationId": "updateComment",
        "summary": "Update a comment.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Patch body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete a comment (restorable).",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Project for comment numbers."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}/restore": {
      "post": {
        "operationId": "restoreComment",
        "summary": "Restore a deleted comment.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Restore body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}/resolve": {
      "post": {
        "operationId": "resolveComment",
        "summary": "Resolve a comment, optionally posting a note.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Resolve body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}/reopen": {
      "post": {
        "operationId": "reopenComment",
        "summary": "Reopen a comment, optionally posting a note.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Reopen body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}/replies": {
      "get": {
        "operationId": "listReplies",
        "summary": "List a thread's replies.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Project for comment numbers."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "createReply",
        "summary": "Reply to a comment.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Reply body."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/comments/{comment}/attachments": {
      "post": {
        "operationId": "addCommentAttachment",
        "summary": "Attach a file by URL to the comment's first message.",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment id or number.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Attachment body."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/replies/{reply}": {
      "patch": {
        "operationId": "updateReply",
        "summary": "Edit a reply.",
        "parameters": [
          {
            "name": "reply",
            "in": "path",
            "required": true,
            "description": "Reply id (rpl_<comment>.<reply>).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Reply patch body."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "deleteReply",
        "summary": "Delete a reply.",
        "parameters": [
          {
            "name": "reply",
            "in": "path",
            "required": true,
            "description": "Reply id (rpl_<comment>.<reply>).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/replies/{reply}/attachments": {
      "post": {
        "operationId": "addReplyAttachment",
        "summary": "Attach a file by URL to a reply.",
        "parameters": [
          {
            "name": "reply",
            "in": "path",
            "required": true,
            "description": "Reply id (rpl_<comment>.<reply>).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Attachment body."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/attachments/{attachment}": {
      "delete": {
        "operationId": "deleteAttachment",
        "summary": "Delete an attachment.",
        "parameters": [
          {
            "name": "attachment",
            "in": "path",
            "required": true,
            "description": "Attachment id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "sf_pat_ personal access token or sf_at_ OAuth access token."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "hint",
              "candidates"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "invalid",
                  "ambiguous",
                  "needs_confirmation",
                  "rate_limited",
                  "upstream"
                ]
              },
              "message": {
                "type": "string"
              },
              "hint": {
                "type": "string"
              },
              "candidates": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "preview": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
