{
  "openapi": "3.1.0",
  "info": {
    "title": "Superflow API",
    "version": "1.0.0",
    "description": "Read, filter, search, update, resolve, reply to and bulk-edit Superflow comments. Authenticate with a Superflow API key (sf_pat_) or an OAuth access token (sf_at_). Rate limit: 600 requests per minute per key."
  },
  "x-provisional": true,
  "servers": [
    {
      "url": "https://api.usesuperflow.ai/v1"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This OpenAPI document",
        "tags": [
          "meta"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The key, its member, workspace and scopes",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/me/notifications": {
      "get": {
        "operationId": "getNotificationSettings",
        "summary": "The caller's notification settings",
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "bearer": [
              "workspace:read"
            ]
          }
        ],
        "x-required-scope": "workspace:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettings"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "patch": {
        "operationId": "updateNotificationSettings",
        "summary": "Change the caller's notification settings",
        "tags": [
          "notifications"
        ],
        "security": [
          {
            "bearer": [
              "workspace:write"
            ]
          }
        ],
        "x-required-scope": "workspace:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_digest": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean"
                      },
                      "cadence": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "weekly",
                          "monthly"
                        ]
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "inbox": {
                    "type": "string",
                    "enum": [
                      "all",
                      "mine",
                      "none"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "enum": [
                      "all",
                      "mine",
                      "none"
                    ]
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettings"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "description": "Default false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "guests also needs users:invite. A duplicate domain is 409 ambiguous with the existing project as the candidate.",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "site_url": {
                    "type": "string"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "webflow",
                      "shopify",
                      "wordpress",
                      "framer",
                      "html",
                      "netlify",
                      "nextjs",
                      "vercel",
                      "other"
                    ]
                  },
                  "guests": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "copy_settings_from": {
                    "type": "string",
                    "description": "Project reference."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "name",
                  "site_url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "site_url cannot change (400 invalid); use add_domains.",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "guest_comments": {
                        "type": "boolean",
                        "description": "Guests can comment (public access with guest users). Plan gated (guestMode)."
                      },
                      "guest_sign_in": {
                        "type": "boolean",
                        "description": "Guests may comment without signing in. Only with guest_comments."
                      },
                      "comments_disabled": {
                        "type": "boolean",
                        "description": "Turn commenting off for everyone."
                      },
                      "toolbar_enabled": {
                        "type": "boolean",
                        "description": "Show the toolbar on the site."
                      },
                      "query_params_as_pages": {
                        "type": "boolean",
                        "description": "Treat URLs that differ by query string as different pages."
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "add_domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project (hard delete)",
        "description": "Without confirm=true: 409 needs_confirmation with preview { project, comment_count, page_count }.",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "Must be true. Without it the API answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/archive": {
      "post": {
        "operationId": "archiveProject",
        "summary": "Archive a project (idempotent)",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectChange"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/unarchive": {
      "post": {
        "operationId": "unarchiveProject",
        "summary": "Unarchive a project (idempotent)",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectChange"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/install": {
      "get": {
        "operationId": "getInstallSnippet",
        "summary": "The install snippet and steps",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "description": "Defaults to the project's platform.",
            "schema": {
              "type": "string",
              "enum": [
                "webflow",
                "shopify",
                "wordpress",
                "framer",
                "html",
                "netlify",
                "nextjs",
                "vercel",
                "other"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallSnippet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/install/verify": {
      "post": {
        "operationId": "verifyInstall",
        "summary": "Check the site for the snippet",
        "description": "Fetches the site once. Marks the project installed on verdict installed.",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallVerification"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/pages": {
      "get": {
        "operationId": "listProjectPages",
        "summary": "List the pages of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "required": false,
            "description": "Default true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "addPage",
        "summary": "Add a page (idempotent)",
        "tags": [
          "pages"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddedPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/pages/{page}": {
      "get": {
        "operationId": "getPage",
        "summary": "Get a page",
        "tags": [
          "pages"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page: pg_ id, raw location id, page URL or path. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "removePage",
        "summary": "Remove a page and soft delete its comments",
        "description": "Without confirm=true: 409 needs_confirmation with preview { page, comment_count }. At most 200 comments.",
        "tags": [
          "pages"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "description": "Page: pg_ id, raw location id, page URL or path. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "Must be true. Without it the API answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/members": {
      "get": {
        "operationId": "listProjectMembers",
        "summary": "List the members and guests of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/guests": {
      "get": {
        "operationId": "listProjectGuests",
        "summary": "List the guests of a project",
        "tags": [
          "members"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "inviteGuests",
        "summary": "Invite project guests (sends email)",
        "tags": [
          "members"
        ],
        "security": [
          {
            "bearer": [
              "users:invite"
            ]
          }
        ],
        "x-required-scope": "users:invite",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "idempotency_key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "emails"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/guests/{guest}": {
      "delete": {
        "operationId": "removeGuest",
        "summary": "Remove a guest from one project",
        "tags": [
          "members"
        ],
        "security": [
          {
            "bearer": [
              "users:write"
            ]
          }
        ],
        "x-required-scope": "users:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "guest",
            "in": "path",
            "required": true,
            "description": "Guest: gst_ id, raw user id, email or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "Must be true. Without it the API answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedGuest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List workspace members (and a project's guests)",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "inviteMembers",
        "summary": "Invite workspace members (sends email)",
        "tags": [
          "members"
        ],
        "security": [
          {
            "bearer": [
              "users:invite"
            ]
          }
        ],
        "x-required-scope": "users:invite",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "idempotency_key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "emails"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/members/{member}": {
      "delete": {
        "operationId": "removeMember",
        "summary": "Remove a workspace member (owner only)",
        "description": "Without confirm=true: 409 needs_confirmation with preview { member, open_assigned_count }.",
        "tags": [
          "members"
        ],
        "security": [
          {
            "bearer": [
              "users:write"
            ]
          }
        ],
        "x-required-scope": "users:write",
        "parameters": [
          {
            "name": "member",
            "in": "path",
            "required": true,
            "description": "Member: usr_ id, raw user id, email or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "Must be true. Without it the API answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "reassign_to",
            "in": "query",
            "required": false,
            "description": "Member who takes over the removed member's open assigned comments.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemovedMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/statuses": {
      "get": {
        "operationId": "listProjectStatuses",
        "summary": "List the statuses of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createProjectStatus",
        "summary": "Create a project status",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "color": {
                    "type": "string"
                  },
                  "is_resolved": {
                    "type": "boolean",
                    "const": false
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/statuses": {
      "get": {
        "operationId": "listStatuses",
        "summary": "List the workspace statuses",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createStatus",
        "summary": "Create a workspace status",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "color": {
                    "type": "string"
                  },
                  "is_resolved": {
                    "type": "boolean",
                    "const": false
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/statuses/order": {
      "put": {
        "operationId": "reorderStatuses",
        "summary": "Reorder a status catalog",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project whose catalog to change. Omit for the workspace catalog.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "status_ids"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/statuses/{status}": {
      "patch": {
        "operationId": "updateStatus",
        "summary": "Rename or recolor a status",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "description": "Status: sts_ id, raw id or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project whose catalog to change. Omit for the workspace catalog.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "color": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteStatus",
        "summary": "Delete a status, moving its comments",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "description": "Status: sts_ id, raw id or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project whose catalog to change. Omit for the workspace catalog.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "move_comments_to",
            "in": "query",
            "required": true,
            "description": "Status (id or name, same catalog) that takes over the comments. Required.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/tags": {
      "get": {
        "operationId": "listProjectTags",
        "summary": "List the tags of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": [
          "tags"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "color": {
                    "type": "string"
                  },
                  "project": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/tags/{tag}": {
      "patch": {
        "operationId": "updateTag",
        "summary": "Rename or recolor a tag (keeps the id)",
        "tags": [
          "tags"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag: tag_ id or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "color": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteTag",
        "summary": "Delete a tag and remove it from every comment",
        "tags": [
          "tags"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag: tag_ id or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "Must be true. Without it the API answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedTag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/tags/{tag}/merge": {
      "post": {
        "operationId": "mergeTags",
        "summary": "Merge a tag into another",
        "tags": [
          "tags"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Tag: tag_ id or name. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "into": {
                    "type": "string"
                  },
                  "confirm": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "into",
                  "confirm"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MergedTags"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_project"
          },
          {
            "$ref": "#/components/parameters/filter_page_url"
          },
          {
            "$ref": "#/components/parameters/filter_page_match"
          },
          {
            "$ref": "#/components/parameters/filter_status"
          },
          {
            "$ref": "#/components/parameters/filter_priority"
          },
          {
            "$ref": "#/components/parameters/filter_assignee"
          },
          {
            "$ref": "#/components/parameters/filter_author"
          },
          {
            "$ref": "#/components/parameters/filter_author_type"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_tags_match"
          },
          {
            "$ref": "#/components/parameters/filter_query"
          },
          {
            "$ref": "#/components/parameters/filter_created_after"
          },
          {
            "$ref": "#/components/parameters/filter_created_before"
          },
          {
            "$ref": "#/components/parameters/filter_updated_after"
          },
          {
            "$ref": "#/components/parameters/filter_updated_before"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_after"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_before"
          },
          {
            "$ref": "#/components/parameters/filter_has_attachments"
          },
          {
            "$ref": "#/components/parameters/filter_has_replies"
          },
          {
            "$ref": "#/components/parameters/filter_has_external_link"
          },
          {
            "$ref": "#/components/parameters/filter_unanswered"
          },
          {
            "$ref": "#/components/parameters/filter_stale_days"
          },
          {
            "$ref": "#/components/parameters/filter_device"
          },
          {
            "$ref": "#/components/parameters/filter_source"
          },
          {
            "$ref": "#/components/parameters/filter_agent"
          },
          {
            "$ref": "#/components/parameters/filter_agent_run"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Default updated_desc.",
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Default compact.",
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "page_url": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "anchor": {
                    "type": "object",
                    "properties": {
                      "selector": {
                        "type": "string"
                      },
                      "xpath": {
                        "type": "string"
                      },
                      "x": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "y": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "element_text": {
                        "type": "string"
                      },
                      "viewport": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "height": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "width",
                          "height"
                        ],
                        "additionalProperties": false
                      },
                      "device": {
                        "type": "string",
                        "enum": [
                          "desktop",
                          "mobile",
                          "tablet",
                          "unknown"
                        ]
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "critical",
                      "high",
                      "medium",
                      "low",
                      "none"
                    ],
                    "description": "critical (P0), high (P1) or medium (P2). none (or leaving it out) creates the comment without a priority. low is 400 invalid: Superflow has three priorities (use medium)."
                  },
                  "status": {
                    "type": "string"
                  },
                  "assignees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Public https URL (image, video or PDF, at most 25 MB)."
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "on_behalf_of": {
                    "type": "string",
                    "description": "Guest email; needs users:invite."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "project",
                  "page_url",
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedComment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/stats": {
      "get": {
        "operationId": "getCommentStats",
        "summary": "Count comments by a dimension",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_project"
          },
          {
            "$ref": "#/components/parameters/filter_page_url"
          },
          {
            "$ref": "#/components/parameters/filter_page_match"
          },
          {
            "$ref": "#/components/parameters/filter_status"
          },
          {
            "$ref": "#/components/parameters/filter_priority"
          },
          {
            "$ref": "#/components/parameters/filter_assignee"
          },
          {
            "$ref": "#/components/parameters/filter_author"
          },
          {
            "$ref": "#/components/parameters/filter_author_type"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_tags_match"
          },
          {
            "$ref": "#/components/parameters/filter_query"
          },
          {
            "$ref": "#/components/parameters/filter_created_after"
          },
          {
            "$ref": "#/components/parameters/filter_created_before"
          },
          {
            "$ref": "#/components/parameters/filter_updated_after"
          },
          {
            "$ref": "#/components/parameters/filter_updated_before"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_after"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_before"
          },
          {
            "$ref": "#/components/parameters/filter_has_attachments"
          },
          {
            "$ref": "#/components/parameters/filter_has_replies"
          },
          {
            "$ref": "#/components/parameters/filter_has_external_link"
          },
          {
            "$ref": "#/components/parameters/filter_unanswered"
          },
          {
            "$ref": "#/components/parameters/filter_stale_days"
          },
          {
            "$ref": "#/components/parameters/filter_device"
          },
          {
            "$ref": "#/components/parameters/filter_source"
          },
          {
            "$ref": "#/components/parameters/filter_agent"
          },
          {
            "$ref": "#/components/parameters/filter_agent_run"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "priority",
                "assignee",
                "author",
                "author_type",
                "page",
                "tag",
                "project",
                "source",
                "device",
                "day",
                "week"
              ]
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "description": "Comma separated. Default count.",
            "schema": {
[...]
