{
  "openapi": "3.1.0",
  "info": {
    "title": "Superflow API",
    "version": "1.0.0",
    "description": "Read, filter, search, update, resolve, reply to and bulk-edit Superflow comments, and administer projects, pages, people, statuses, tags, review links and the workspace; manage and run review agents, schedule runs, push comments to trackers, post to Slack and subscribe to webhooks. Authenticate with a Superflow API key (sf_pat_) or an OAuth access token (sf_at_). Rate limit: 600 requests per minute per key."
  },
  "servers": [
    {
      "url": "https://api.usesuperflow.ai/v1"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This OpenAPI document",
        "tags": [
          "meta"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "The key, its member, workspace and scopes",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "description": "Default false.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a website project",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "site_url": {
                    "type": "string",
                    "description": "An http or https URL."
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "webflow",
                      "shopify",
                      "wordpress",
                      "framer",
                      "html",
                      "netlify",
                      "nextjs",
                      "vercel",
                      "other"
                    ],
                    "description": "Default other."
                  },
                  "guests": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 10,
                    "description": "Guests to invite (sends email; needs users:invite too)."
                  },
                  "copy_settings_from": {
                    "type": "string",
                    "description": "Project whose settings, access type and project statuses are copied."
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "site_url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedProject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project (name, settings, extra domains)",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "settings": {
                    "type": "object",
                    "properties": {
                      "guest_comments": {
                        "type": "boolean",
                        "description": "On: public document + guests allowed (needs the guestMode plan feature). Off: workspace members only."
                      },
                      "guest_sign_in": {
                        "type": "boolean"
                      },
                      "comments_disabled": {
                        "type": "boolean"
                      },
                      "toolbar_enabled": {
                        "type": "boolean"
                      },
                      "query_params_as_pages": {
                        "type": "boolean"
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "add_domains": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "An http or https URL."
                    }
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project and its comments for good",
        "tags": [
          "projects"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "confirm",
            "in": "query",
            "required": false,
            "description": "true to perform it. Without it the request answers 409 needs_confirmation with a preview.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/pages": {
      "get": {
        "operationId": "listProjectPages",
        "summary": "List the pages of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_counts",
            "in": "query",
            "required": false,
            "description": "Default true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "addPage",
        "summary": "Add a page",
        "tags": [
          "pages"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "An http or https URL."
                  },
                  "title": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageWrite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/members": {
      "get": {
        "operationId": "listProjectMembers",
        "summary": "List the members and guests of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List workspace members (and a project's guests)",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "projects:read"
            ]
          }
        ],
        "x-required-scope": "projects:read",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "inviteMembers",
        "summary": "Invite workspace members (sends email)",
        "tags": [
          "people"
        ],
        "security": [
          {
            "bearer": [
              "users:invite"
            ]
          }
        ],
        "x-required-scope": "users:invite",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "emails"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/statuses": {
      "get": {
        "operationId": "listProjectStatuses",
        "summary": "List the statuses of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createProjectStatus",
        "summary": "Create a project status",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "color": {
                    "type": "string",
                    "pattern": "^#([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                  },
                  "is_resolved": {
                    "type": "boolean",
                    "description": "false only: new statuses are in progress."
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusWrite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/statuses": {
      "get": {
        "operationId": "listStatuses",
        "summary": "List the workspace statuses",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createStatus",
        "summary": "Create a workspace status",
        "tags": [
          "statuses"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20
                  },
                  "color": {
                    "type": "string",
                    "pattern": "^#([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                  },
                  "is_resolved": {
                    "type": "boolean",
                    "description": "false only: new statuses are in progress."
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusWrite"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/projects/{project}/tags": {
      "get": {
        "operationId": "listProjectTags",
        "summary": "List the tags of a project",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project: prj_ id, raw id, name, site URL or domain. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/tags": {
      "get": {
        "operationId": "listTags",
        "summary": "List tags",
        "tags": [
          "lookups"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createTag",
        "summary": "Create a tag",
        "tags": [
          "tags"
        ],
        "security": [
          {
            "bearer": [
              "projects:write"
            ]
          }
        ],
        "x-required-scope": "projects:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string",
                    "pattern": "^#([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                  },
                  "project": {
                    "type": "string",
                    "description": "Scope it to a project. Omit for a workspace tag."
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments": {
      "get": {
        "operationId": "listComments",
        "summary": "List comments",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_project"
          },
          {
            "$ref": "#/components/parameters/filter_page_url"
          },
          {
            "$ref": "#/components/parameters/filter_page_match"
          },
          {
            "$ref": "#/components/parameters/filter_status"
          },
          {
            "$ref": "#/components/parameters/filter_priority"
          },
          {
            "$ref": "#/components/parameters/filter_assignee"
          },
          {
            "$ref": "#/components/parameters/filter_author"
          },
          {
            "$ref": "#/components/parameters/filter_author_type"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_tags_match"
          },
          {
            "$ref": "#/components/parameters/filter_query"
          },
          {
            "$ref": "#/components/parameters/filter_created_after"
          },
          {
            "$ref": "#/components/parameters/filter_created_before"
          },
          {
            "$ref": "#/components/parameters/filter_updated_after"
          },
          {
            "$ref": "#/components/parameters/filter_updated_before"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_after"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_before"
          },
          {
            "$ref": "#/components/parameters/filter_has_attachments"
          },
          {
            "$ref": "#/components/parameters/filter_has_replies"
          },
          {
            "$ref": "#/components/parameters/filter_has_external_link"
          },
          {
            "$ref": "#/components/parameters/filter_unanswered"
          },
          {
            "$ref": "#/components/parameters/filter_stale_days"
          },
          {
            "$ref": "#/components/parameters/filter_device"
          },
          {
            "$ref": "#/components/parameters/filter_source"
          },
          {
            "$ref": "#/components/parameters/filter_agent"
          },
          {
            "$ref": "#/components/parameters/filter_agent_run"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Default updated_desc.",
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque cursor from next_cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "description": "Default compact.",
            "schema": {
              "type": "string",
              "enum": [
                "compact",
                "full"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createComment",
        "summary": "Create a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "page_url": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "anchor": {
                    "type": "object",
                    "properties": {
                      "selector": {
                        "type": "string"
                      },
                      "xpath": {
                        "type": "string"
                      },
                      "x": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "y": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "element_text": {
                        "type": "string"
                      },
                      "viewport": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "height": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "width",
                          "height"
                        ],
                        "additionalProperties": false
                      },
                      "device": {
                        "type": "string",
                        "enum": [
                          "desktop",
                          "mobile",
                          "tablet",
                          "unknown"
                        ]
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "critical",
                      "high",
                      "medium",
                      "low",
                      "none"
                    ],
                    "description": "critical (P0), high (P1) or medium (P2). none (or leaving it out) creates the comment without a priority. low is 400 invalid: Superflow has three priorities (use medium)."
                  },
                  "status": {
                    "type": "string"
                  },
                  "assignees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Public https URL (image, video or PDF, at most 25 MB)."
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "on_behalf_of": {
                    "type": "string",
                    "description": "Guest email; needs users:invite."
                  },
                  "idempotency_key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  }
                },
                "required": [
                  "project",
                  "page_url",
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedComment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/stats": {
      "get": {
        "operationId": "getCommentStats",
        "summary": "Count comments by a dimension",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_project"
          },
          {
            "$ref": "#/components/parameters/filter_page_url"
          },
          {
            "$ref": "#/components/parameters/filter_page_match"
          },
          {
            "$ref": "#/components/parameters/filter_status"
          },
          {
            "$ref": "#/components/parameters/filter_priority"
          },
          {
            "$ref": "#/components/parameters/filter_assignee"
          },
          {
            "$ref": "#/components/parameters/filter_author"
          },
          {
            "$ref": "#/components/parameters/filter_author_type"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_tags_match"
          },
          {
            "$ref": "#/components/parameters/filter_query"
          },
          {
            "$ref": "#/components/parameters/filter_created_after"
          },
          {
            "$ref": "#/components/parameters/filter_created_before"
          },
          {
            "$ref": "#/components/parameters/filter_updated_after"
          },
          {
            "$ref": "#/components/parameters/filter_updated_before"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_after"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_before"
          },
          {
            "$ref": "#/components/parameters/filter_has_attachments"
          },
          {
            "$ref": "#/components/parameters/filter_has_replies"
          },
          {
            "$ref": "#/components/parameters/filter_has_external_link"
          },
          {
            "$ref": "#/components/parameters/filter_unanswered"
          },
          {
            "$ref": "#/components/parameters/filter_stale_days"
          },
          {
            "$ref": "#/components/parameters/filter_device"
          },
          {
            "$ref": "#/components/parameters/filter_source"
          },
          {
            "$ref": "#/components/parameters/filter_agent"
          },
          {
            "$ref": "#/components/parameters/filter_agent_run"
          },
          {
            "name": "group_by",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "status",
                "priority",
                "assignee",
                "author",
                "author_type",
                "page",
                "tag",
                "project",
                "source",
                "device",
                "day",
                "week"
              ]
            }
          },
          {
            "name": "metrics",
            "in": "query",
            "required": false,
            "description": "Comma separated. Default count.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "count",
                  "avg_hours_to_resolve",
                  "median_hours_to_first_reply"
                ]
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/export": {
      "get": {
        "operationId": "exportComments",
        "summary": "Export comments as CSV, JSON or Markdown",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_project"
          },
          {
            "$ref": "#/components/parameters/filter_page_url"
          },
          {
            "$ref": "#/components/parameters/filter_page_match"
          },
          {
            "$ref": "#/components/parameters/filter_status"
          },
          {
            "$ref": "#/components/parameters/filter_priority"
          },
          {
            "$ref": "#/components/parameters/filter_assignee"
          },
          {
            "$ref": "#/components/parameters/filter_author"
          },
          {
            "$ref": "#/components/parameters/filter_author_type"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_tags_match"
          },
          {
            "$ref": "#/components/parameters/filter_query"
          },
          {
            "$ref": "#/components/parameters/filter_created_after"
          },
          {
            "$ref": "#/components/parameters/filter_created_before"
          },
          {
            "$ref": "#/components/parameters/filter_updated_after"
          },
          {
            "$ref": "#/components/parameters/filter_updated_before"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_after"
          },
          {
            "$ref": "#/components/parameters/filter_resolved_before"
          },
          {
            "$ref": "#/components/parameters/filter_has_attachments"
          },
          {
            "$ref": "#/components/parameters/filter_has_replies"
          },
          {
            "$ref": "#/components/parameters/filter_has_external_link"
          },
          {
            "$ref": "#/components/parameters/filter_unanswered"
          },
          {
            "$ref": "#/components/parameters/filter_stale_days"
          },
          {
            "$ref": "#/components/parameters/filter_device"
          },
          {
            "$ref": "#/components/parameters/filter_source"
          },
          {
            "$ref": "#/components/parameters/filter_agent"
          },
          {
            "$ref": "#/components/parameters/filter_agent_run"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json",
                "markdown"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_desc",
                "created_desc",
                "created_asc",
                "priority_desc",
                "page",
                "number"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/bulk": {
      "post": {
        "operationId": "bulkUpdateComments",
        "summary": "Change up to 200 comments at once",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "select": {
                    "type": "object",
                    "properties": {
                      "comment_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "project": {
                        "type": "string"
                      },
                      "filter": {
                        "type": "object",
                        "description": "The comment filters, with JSON types."
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "patch": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "critical",
                          "high",
                          "medium",
                          "low",
                          "none"
                        ],
                        "description": "critical (P0), high (P1) or medium (P2). low is 400 invalid: Superflow has three priorities (use medium). Clearing a priority (none) is not supported yet: 400 invalid."
                      },
                      "assignees": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "One person. Removing the assignee ([] or [\"unassigned\"]) is not supported yet: 400 invalid."
                      },
                      "add_assignees": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "One person. Removing the assignee ([] or [\"unassigned\"]) is not supported yet: 400 invalid."
                      },
                      "remove_assignees": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Removing the current assignee without add_assignees is not supported yet: 400 invalid."
                      },
                      "add_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "remove_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "resolve": {
                        "type": "boolean"
                      },
                      "reopen": {
                        "type": "boolean"
                      },
                      "note": {
                        "type": "string"
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  },
                  "dry_run": {
                    "type": "boolean",
                    "default": true
                  },
                  "confirm": {
                    "type": "boolean"
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "select",
                  "patch"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}": {
      "get": {
        "operationId": "getComment",
        "summary": "Get a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project reference (needed to resolve a comment number).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_replies",
            "in": "query",
            "required": false,
            "description": "Default true.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "patch": {
        "operationId": "updateComment",
        "summary": "Update a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "critical",
                      "high",
                      "medium",
                      "low",
                      "none"
                    ],
                    "description": "critical (P0), high (P1) or medium (P2). low is 400 invalid: Superflow has three priorities (use medium). Clearing a priority (none) is not supported yet: 400 invalid."
                  },
                  "status": {
                    "type": "string"
                  },
                  "assignees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One person. Removing the assignee ([] or [\"unassigned\"]) is not supported yet: 400 invalid."
                  },
                  "add_assignees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "One person. Removing the assignee ([] or [\"unassigned\"]) is not supported yet: 400 invalid."
                  },
                  "remove_assignees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Removing the current assignee without add_assignees is not supported yet: 400 invalid."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "add_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "remove_tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "page_url": {
                    "type": "string"
                  },
                  "anchor": {
                    "type": "object",
                    "properties": {
                      "selector": {
                        "type": "string"
                      },
                      "xpath": {
                        "type": "string"
                      },
                      "x": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "y": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "element_text": {
                        "type": "string"
                      },
                      "viewport": {
                        "type": "object",
                        "properties": {
                          "width": {
                            "type": "integer"
                          },
                          "height": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "width",
                          "height"
                        ],
                        "additionalProperties": false
                      },
                      "device": {
                        "type": "string",
                        "enum": [
                          "desktop",
                          "mobile",
                          "tablet",
                          "unknown"
                        ]
                      }
                    },
                    "required": [],
                    "additionalProperties": false
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteComment",
        "summary": "Delete a comment (restorable for 30 days)",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project reference (needed to resolve a comment number).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedComment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}/restore": {
      "post": {
        "operationId": "restoreComment",
        "summary": "Restore a deleted comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentFull"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}/resolve": {
      "post": {
        "operationId": "resolveComment",
        "summary": "Resolve a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}/reopen": {
      "post": {
        "operationId": "reopenComment",
        "summary": "Reopen a comment",
        "tags": [
          "comments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}/replies": {
      "get": {
        "operationId": "listReplies",
        "summary": "List the replies of a comment",
        "tags": [
          "replies"
        ],
        "security": [
          {
            "bearer": [
              "comments:read"
            ]
          }
        ],
        "x-required-scope": "comments:read",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "description": "Project reference (needed to resolve a comment number).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplyList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "post": {
        "operationId": "createReply",
        "summary": "Reply to a comment",
        "tags": [
          "replies"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "Public https URL (image, video or PDF, at most 25 MB)."
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "idempotency_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedReply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/comments/{comment}/attachments": {
      "post": {
        "operationId": "addCommentAttachment",
        "summary": "Attach a file (by URL) to a comment",
        "tags": [
          "attachments"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "Comment: cmt_ id, raw id, or a number (4821 or #4821; a number needs the project parameter). URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Attachment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      }
    },
    "/replies/{reply}": {
      "patch": {
        "operationId": "updateReply",
        "summary": "Edit a reply",
        "tags": [
          "replies"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "reply",
            "in": "path",
            "required": true,
            "description": "Reply id: rpl_<annotationId>.<commentId>. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/Upstream"
          }
        }
      },
      "delete": {
        "operationId": "deleteReply",
        "summary": "Delete a reply",
        "tags": [
          "replies"
        ],
        "security": [
          {
            "bearer": [
              "comments:write"
            ]
          }
        ],
        "x-required-scope": "comments:write",
        "parameters": [
          {
            "name": "reply",
            "in": "path",
            "required": true,
            "description": "Reply id: rpl_<annotationId>.<commentId>. URL-encoded.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deleted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Invalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
[...]
